extends ../layout

block styles
  link(rel="stylesheet", href=stylesheet_path("feature/common.css"),  media="all")

block content
  //- 幻灯片
  
  #feature-banner
    .main.margin-center

  #feature-body.main.margin-center
    include share/nav
    #feature-content
      .breadcrumb 网站首页 > 联系都乐
      .article
        .title 都乐招聘
        p coming soon



