#feature-banner
  height 300px
  background-color #979797
  position relative
  z-index 10

// 
#feature-body
  min-height 500px
  position relative
  z-index 20

// 二级导航
#nav-2
  position absolute
  width 245px
  padding-left 25px
  top -35px
  left 0
  .nav-2-head
    height 110px
    padding-top 24px
    padding-left 14px
    background-color #D0021B
    margin-bottom 4px
    color #fff
    &:before
      content ''
      display block
      width 26px
      height 1px
      background-color #fff
      margin-bottom 18px
    .en
      font-size 18px
      padding-bottom 15px
      line-height 1
    .cn
      font-size 16px
      line-height 1
  ul
    li
      line-height 40px
      margin-bottom 4px
      background-color #EAEAEA
      font-size 14px
      text-align center
      a
        display block
        height 40px
        color #39393D
      &.active
        background-color #D0021B
        a
          color #fff

// feature  主体
#feature-content
  padding-top 35px
  padding-left 320px
  margin-bottom 65px
  .breadcrumb
    padding-left 18px
    margin-bottom 15px
    height 36px
    line-height 36px
    font-size 13px
    color #39393D
    border 1px solid #E6E6E6
  .article
    min-height 810px
    border 1px solid #E6E6E6
    padding 25px 60px
    .title
      text-align center
      font-size 24px
      margin-bottom 20px
    p
      font-size 15px
      margin-bottom 20px
    img
      padding 20px 0 0 0
  .products-list
    width 915px
    .products-thumb
      display block
      float left
      margin-right 35px
      margin-bottom 40px
      width 270px
      height 285px
      padding 12px
      border 1px solid #E6E6E6
      p
        font-size 15px
        color #39393D
        line-height 22px
        padding 4px
        height 44px
        overflow hidden

.pagination
  width 880px
  height 70px
  padding-top 20px
  text-align center
  ul
    display inline-block
  li
    float left
    height 32px
    text-align center
    line-height 25px
    a
      padding 0 10px
      display block
      color #39393D
      margin-top 3px
    &.active
      a
        background-color #D0021B
        color #fff
  .prev,.next
    height 32px
    padding 0 8px
    margin 0 10px
    border 1px #E6E6E6 solid
    text-align center
    line-height 32px
    a
      padding 0
      margin-top 0

