doctype html
html
  head
    title 深圳市都乐精密制造有限公司
    meta(charset='UTF-8')
    meta(name="keywords",content="都乐精密制造, 核心产业链, 产品中心")
    <meta name="description",content="深圳市都乐精密制造有限公司成立于2005年，是集产品研发、模具设计制造、精密注塑成型与组装于一体的全方位发展企业，并通过ISO9001：2008质量体系认证，ISO14001：2004环境体系认证，于2014年荣获国家高新技术企业称号，现有各项专利17项。">
    meta(name="viewport",content="width=device-width,initial-scale=0.2,minimum-scale=0.3")
    block meta
    link(rel="stylesheet", href="styles/base.css",  media="all")
    link(rel="stylesheet", href="styles/common.css",  media="all")
    link(rel="stylesheet", href="styles/share/header.css",  media="all")
    link(rel="stylesheet", href="styles/share/footer.css",  media="all")
    block styles
  body
    include share/header

    block content
    
    include share/footer
    
    block scripts
    script(src='scripts/plugins/layzr/layzr.min.js')
    script.
      var layzr = new Layzr({
        selector: '[data-layzr]',
        attr: 'data-layzr',
        retinaAttr: 'data-layzr-retina',
        bgAttr: 'data-layzr-bg',
        threshold: 50,
        callback: null
      });
    //- 百度统计
    script.
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6d1b6c4978efde66ecd8d48fae98053b";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
