extends ../layout

block styles
  link(rel="stylesheet", href=stylesheet_path("feature/common.css"),  media="all")

block content
  //- 幻灯片
  
  #feature-banner
    .main.margin-center

  #feature-body.main.margin-center
    include share/nav
    #feature-content
      .breadcrumb 网站首页 > 卓越能力
      .article
        .title 研发团队
        p
          | 团队力量
          br
          | 公司成立的同时成立公司技术研发部，技术和管理团队核心人员均有数十年以上的行业从业经验，有着丰富的理论和实践经验。目前，研发及技术人员共有30人，其中本科以上人员16人，外聘专家2人。
        p
          | 企业体系
          br
          | 技术研发部是由公司总经理直接领导，组成多专业、多层次的技术创新组织。按照公司的战略发展目标要求，技术研发部由决策层、管理层、执行层组成，形成了光学设计组，机构设计组，模具设计组，测试评价组的体系。
        p
          | 合作关系
          br
          | 公司多年来重视与相关先进企业、各大专院校和科研院所合作。公司与香港理工大学、长春理工大学、深圳大学等单位建立了长期密切的合作关系，是深圳大学的实习基地。形成了以自主开发为主，联合研发为辅的整合式研发模式。
        p
          | 专业领域
          br
          | 重点致力于"手机照相技术"、"智能穿戴设备"、 "视觉识别"、"益智玩具"、"光学精密模具"等发展方向的生产创新。研发团队具有专业客户化设计和产品制造能力，能全方位满足客户在光学成像技术，照明技术和小型、超小型应用及高精密产品组装的各种需求。
        p
          | 经理：
          br
          | 1993年毕业于机械工程专业，获得工学学士学位，毕业后加入大型港资集团，负责日本益智玩具产品的研发，求证和量产。2013年加入本公司，技术研发部经理，参与或主持多个产品及技术研发，对人工智能和益智玩具研究多年，参与专利5项。
        p
          | 经理：
          br
          | 1994年毕业于长春理工大学机械设计与制造专业，获得工学学士学位，毕业后加入港资半导体企业。后入职国内光电企业，致力于超精密零件加工研究多年。2009年加入本公司，对光学成像镜头的研发，自动化组装工艺改进，参与专利6项。
        p
          | 经理：
          br
          | 2007年毕业于长春理工大学机械设计自动化专业，获得工学学士学位，毕业后加入台资光电企业，致力于光学部件研发。2013年加入本公司，负责5M/8M手机镜头以及医疗内窥镜等的研发设计，获取专利6项。
        p
          | 主管：
          br
          | 2005年毕业于模具设计与制造专业，获得工学学士学位，毕业后加入大型光电企业，致力于光学精密模具研发。2015年加入本公司，对光学模具开发和微精密注塑成型技术研究多年，获取专利3项。


























    



