footer
  height 40px
  background-color #2D2D2D
  color #A8A8A8
  font-size 12px
  line-height 40px
  .copyright
    display inline
  .creater
    float right
    color #989898
    span
      color #CDCDCD