header
  position relative
  height 75px
  background-color #fff
  border-top 3px solid #D0021B
  a.logo
    display inline-block
    img
      width 144px
      float left
    .name
      float left
      display inline-block
      margin-left -10px
      height 72px
      line-height 72px
      color #2C3239
      font-size 22px
      vertical-align middle
  nav
    position relative
    float right
    .nav-list
      float left
      .nav-name
        float left
        a
          display block
          height 72px
          line-height 72px
          padding 0 18px
          color #39393D
          transition .3s all
        &.active
          a
            color #fff
            background-color #D0021B
      &:hover
        .nav-name       
          a
            color #39393D
            background-color #fff
          &:hover
            a
              color #fff
              background-color #D0021B
    .webcat,.language
      float left
      a
        height 72px
        line-height 72px
        font-size 12px
        color #39393D
        padding 0 18px
        





  