
.footer-nav
  .main.margin-center.clearfix
    .slogan
      .title 深圳市都乐精密制造有限公司
      .slogan-text 质量树品牌  诚信铸伟业
    .footer-nav-list
      .footer-thumb
        .title 关于都乐
        a(href="") 公司概况
        a(href="") 董事长致辞
        a(href="") 管理团队
        a(href="") 发展历程
        a(href="") 都乐荣誉

      .footer-thumb
        .title 卓越能力
        a(href="") 研发团队
        a(href="") 制造能力
        a(href="") 品质护航
        a(href="") 销售领先

      .footer-thumb
        .title 产品中心
        a(href="") 光学模具系列
        a(href="") 成像镜头系列
        a(href="") 照明镜片系列
        a(href="") 机器人系列
        a(href="") 日本益智玩具系列

      .footer-thumb
        .title 都乐文化
        a(href="") 企业理念
        a(href="") 公司活动

      .footer-thumb
        .title 联系都乐
        a(href="") 都乐招聘
        a(href="") 业务洽谈

      .footer-thumb
        .title 联系我们
        a(href="") 电话：+86-755-84530172
        a(href="") 邮箱：Dule@sz-dule.com
        a(href="javascript:;")
          span 微信：
          img(src="images/home/wei2.jpg")

footer
  .main.margin-center
    .copyright 版权所有©2015 All Rights Reserved 浙ICP备13035140号
    .creater
      | 设计策划：
      span 池野创意
