header
  .main.margin-center
    a.logo(href="/")
      img(src="images/share/logo@2x.png")
      span.name 深圳市都乐精密制造有限公司
    nav
      .nav-list
        .nav-name.active
          a(href) 关于都乐
        .nav-name 
          a(href) 卓越能力
        .nav-name 
          a(href) 产品中心
        .nav-name 
          a(href) 都乐文化
        .nav-name 
          a(href) 联系都乐
      .webcat
        a(href) 微信二维码
      .language
        a(href) 中 | EN
