extends ../layout

block styles
  link(rel="stylesheet", href="styles/about/index.css",  media="all")

block content
  //- 幻灯片
  
  #feature-banner
    .main.margin-center
      #nav-2
        .nav-2-head
          p.en ABOUT DULE
          p.cn 关于都乐
        ul
          li
            a(href='about') 公司概况
          li
            a(href='speech') 董事长致辞
          li
            a(href='managers') 管理团队
          li.active
            a(href='development') 发展历程
          li
            a(href='honors') 都乐荣誉

  #feature-body.main.margin-center.clearfix
    #feature-content
      .breadcrumb 网站首页 > 关于都乐
      .article
        .title 公司概况
        p 深圳市都乐精密制造有限公司成立于2005年，是集产品研发、模具设计制造、精密注塑成型与组装于一体的全方位发展企业，并通过ISO9001：2008质量体系认证，ISO14001：2004环境体系认证，于2014年荣获国家高新技术企业称号，现有各项专利17项。
        p 公司专业从事手机镜头、光学镜片、智能机器人、日本儿童益智玩具的研发、设计、模具制造和注塑成型、组装，目前拥有一系列的高精密模具加工设备和数十台日本进口的全自动高精密注塑成型设备、国内一流的百级无尘组装生产线。模具年生产量可达800套，模具周期7-25天。主导开发的模具及产品领域包括光学非球面镜片、手机闪光灯镜片、VR镜片、投影仪镜片、菲涅尔镜片，家居、电子、医疗设备配件、汽车、工业用塑件配件，日本高端儿童益智玩具等，核心客户70%为上市公司及一线的国际品牌企业，如大疆、优必选、比亚迪、康佳、金立、东阳光医疗、舜宇、倍乐生、柯尼卡美能达、华阳多媒体等，品质得到客户一致认可，并在行业中享有较高的知名度和认可度。2014年都乐与深圳大学建立合作关系，都乐作为深圳大学实习基地为深圳大学提供实践资源。
        p 自成立之初，公司秉承“合作共赢，创益社会”的经营理念，坚持“质量为先、信誉为重、管理为本、服务为诚”的质量方针，以高价值、高品质、高效率为保证，致力于把都乐打造成为国内一流的精密制造企业。



    



