extends ../layout

block styles
  link(rel="stylesheet", href=stylesheet_path("feature/common.css"),  media="all")

block content
  //- 幻灯片
  
  #feature-banner
    .main.margin-center

  #feature-body.main.margin-center
    include share/nav
    #feature-content
      .breadcrumb 网站首页 > 关于都乐
      .article
        .title 都乐人有一个愿景
        p 我们希望能以自己的努力为大陆企业在光学界赢得更多专业的认可， 成为继日本、台湾以外第一家“实现研发、模具制造、精密注塑与自动组装一体化”的国内企业，以技术、品质赢得客户的信任，促进大陆企业在全国乃至亚洲光学界的影响力。
        p 过去十年间，光学行业的快速发展直接推动了众多相关行业的前进步伐，借助光学结构、技术的提升及新型材料的应用，产品很大程度上实现了结构优化、成本压缩的目的，而这些，都与我们的日常生活息息相关。如何运用我们的技术最大程度地造福于人类，是都乐人孜孜不倦的追求。
        p 愿景从来不是触手可及，也绝非一朝一夕的事，全体都乐人缪力同心、砥砺创新，敢想、敢为、有所为。
        img(src=image_path('about/map.jpg'))


    







