#feature-banner
  height 300px
  background-color #979797
  position relative
  z-index 10


#feature-body
  min-height 500px

#nav-2
  width 245px
  padding-top 260px
  padding-left 25px
  .nav-2-head
    height 110px
    padding-top 24px
    padding-left 14px
    background-color #D0021B
    margin-bottom 4px
    color #fff
    &:before
      content ''
      display block
      width 26px
      height 1px
      background-color #fff
      margin-bottom 18px
    .en
      font-size 18px
      padding-bottom 15px
      line-height 1
    .cn
      font-size 16px
      line-height 1
  ul
    li
      line-height 40px
      margin-bottom 4px
      background-color #EAEAEA
      font-size 14px
      text-align center
      a
        display block
        height 40px
        color #39393D
      &.active
        background-color #D0021B
        a
          color #fff

#feature-content
  padding-top 35px
  padding-left 320px
  margin-bottom 65px
  .breadcrumb
    padding-left 18px
    margin-bottom 15px
    height 36px
    line-height 36px
    font-size 13px
    color #39393D
    border 1px solid #E6E6E6
  .article
    min-height 810px
    border 1px solid #E6E6E6
    padding 25px 60px
    .title
      text-align center
      font-size 24px
      margin-bottom 15px
    p
      font-size 15px
      margin-bottom 15px
    


