#nav-2
  .nav-2-head
    p.en ABOUT DULE
    p.cn 联系都乐
  ul
    li(class=get_nav_active(feature_nav, 'index'))
      a(href=url('contact')) 业务洽谈
    li(class=get_nav_active(feature_nav, 'recruit'))
      a(href=url('contact/recruit')) 都乐招聘


